---
---
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
}

html {
  font-size: 100%;
  background: hsla(0,0%,97%,1);
}

body {
  color: #444;
  color: hsla(0,0%,20%,.9);
  font: 18px/1.375 "calluna-sans", Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" 1,"dlig" 1,"clig" 1;
  -ms-font-feature-settings: "liga" 1,"dlig" 1,"clig" 1;
  -o-font-feature-settings: "liga" 1,"dlig" 1,"clig" 1;
  -webkit-font-feature-settings: "liga" 1,"dlig" 1,"clig" 1;
  font-feature-settings: "liga" 1,"dlig" 1,"clig" 1;
}

h1,h2,h3 {
  font-family: "calluna", serif;
}

h1 {
  font-weight: bold;
}

h2,h3,h4 {
  margin-bottom:1rem;

  * + & {
    margin-top: 3rem;
  }

  & + p,
  & + ul,
  & + ol {
    margin-top:0 !important;
  }

}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}

p,ul,ol,dl {
    margin: 1rem 0;
}

a {
  &:link {
    color: hsla(0,0%,50%,.9);
  }
  &:visited {
    color: hsla(0,0%,75%,.9);
  }
  &:hover,
  &:focus,
  &:active {
    color: hsla(0,0%,25%,.9);
  }
}

blockquote {
  border-left: .25rem solid hsla(0,0%,25%,.125);
  padding-left: 1rem;
  margin:2rem 1rem;
  color: hsla(0,0%,25%,.75);
}

hr {
  border:none;
  margin:3rem auto;
  padding:0;
  content: " ";
  width: 3rem;
  background: hsla(0,0%,25%,.75);
  height: .25rem;

  & + * {
    margin-top:0;
  }
}

#banner,
#main {
  padding: 1rem 2rem;
}

#banner {
  background: white;
  background: rgba(255,255,255,.825);

  .home & {
    min-height: 67vh;
    display:flex;
    align-items: flex-end;
  }

  h1 {
    margin:0;
    letter-spacing: -1px;
    font-size: 1.25rem;
    .home & {
      font-size: 4rem;
      line-height: 1.1;
    }
  }

  a {
    text-decoration:none;
    color: hsla(0,0%,20%,.9);
  }
}

.audible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@media screen and (min-width: 600px) {

#banner,
#main {
  padding: 1rem 16.5%;
}

}

@media screen and (min-width: 800px) {

#banner,
#main {
  padding: 1rem 20%;
}

}
